@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Overpass', sans-serif;
  background-color: hsl(216, 12%, 8%);
  font-size: 15px;
  color: hsl(0, 0%, 100%);
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100%/12*3.5);
  height: calc(100%/12*6.25);
  border-radius: 20px;
  background: radial-gradient(ellipse at top, hsl(215, 33%, 20%), hsl(215, 42%, 16%));
  padding: 2.0825%;
  overflow-y: auto;
}

@media screen and (max-width: 1050px) {
  main {
    width: calc(100%/12*8);
    height: calc(100%/12*7);
    padding: 6.2475%;
  }
}
